
SPRINT_03/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Algebra_Numpy_SOL.ipynb
SPRINT_03/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Numpy__II_SOL.ipynb
SPRINT_04/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Pandas_I_SOL.ipynb
SPRINT_04/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Pandas_II_SOL.ipynb
SPRINT_05/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_ETL_SOL.ipynb
SPRINT_05/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Ficheros_SOL.ipynb
SPRINT_06/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_SQL_SOL.ipynb
SPRINT_06/Unidad_02/Practica_Obligatoria/PROF_18_Practica_Obligatoria_Scraping_API_SOL.ipynb
SPRINT_07/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Univariante_SOL.ipynb
EDA/Aquí tienes las hipótesis principales y subhipótesis que mencionaste.docx
SPRINT_07/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Multivariante_SOL.ipynb
SPRINT_08/Unidad_02/Practica_Obligatoria/S08_LR2.txt
SPRINT_08/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Visualizacion_Basica_SOL.ipynb
SPRINT_08/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Visualizacion_Presentacion_SOL.ipynb
SPRINT_09/Unidad_1/Practica_Obligatoria/18_Practica_Obligatoria_Estadistica_Inferencial_SOL.ipynb
SPRINT_10/Unidad_01/Practica_Obligatoria/CORREGIDA_PERFECTA_18_Practica_Obligatoria_Regresion_Lineal_y_Regularización_SOL.ipynb
