
SPRINT_03/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Algebra_Numpy_SOL.ipynb
SPRINT_03/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Numpy__II_SOL.ipynb
SPRINT_04/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Pandas_I_SOL.ipynb
SPRINT_04/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Pandas_II_SOL.ipynb
SPRINT_05/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_ETL_SOL.ipynb
SPRINT_05/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Ficheros_SOL.ipynb
SPRINT_06/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_SQL_SOL.ipynb
SPRINT_06/Unidad_02/Practica_Obligatoria/PROF_18_Practica_Obligatoria_Scraping_API_SOL.ipynb
SPRINT_07/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Univariante_SOL.ipynb
