
SPRINT_03/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Algebra_Numpy_SOL.ipynb
SPRINT_03/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Numpy__II_SOL.ipynb
SPRINT_04/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Pandas_I_SOL.ipynb
SPRINT_04/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Pandas_II_SOL.ipynb
SPRINT_05/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_ETL_SOL.ipynb
SPRINT_05/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Ficheros_SOL.ipynb
SPRINT_06/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_SQL_SOL.ipynb
SPRINT_06/Unidad_02/Practica_Obligatoria/PROF_18_Practica_Obligatoria_Scraping_API_SOL.ipynb
SPRINT_07/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Univariante_SOL.ipynb
EDA/Aquí tienes las hipótesis principales y subhipótesis que mencionaste.docx
SPRINT_07/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Multivariante_SOL.ipynb
SPRINT_08/Unidad_02/Practica_Obligatoria/S08_LR2.txt
SPRINT_08/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Visualizacion_Basica_SOL.ipynb
SPRINT_08/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Visualizacion_Presentacion_SOL.ipynb
SPRINT_09/Unidad_1/Practica_Obligatoria/18_Practica_Obligatoria_Estadistica_Inferencial_SOL.ipynb
SPRINT_10/Unidad_01/Practica_Obligatoria/CORREGIDA_PERFECTA_18_Practica_Obligatoria_Regresion_Lineal_y_Regularización_SOL.ipynb
Extra_Vacaciones_Diciembre/Pandas/0_Occupation.ipynb
Extra_Vacaciones_Diciembre/Pandas/0_Occupation_SOL.ipynb
Extra_Vacaciones_Diciembre/Pandas/1_World_Food_Facts.ipynb
Extra_Vacaciones_Diciembre/Pandas/1_World_Food_Facts_SOL.ipynb
Extra_Vacaciones_Diciembre/Pandas/2_Chipotle.ipynb
Extra_Vacaciones_Diciembre/Pandas/2_Chipotle_SOL.ipynb
Extra_Vacaciones_Diciembre/Pandas/3_Euro12.ipynb
Extra_Vacaciones_Diciembre/Pandas/3_Euro12_SOL.ipynb
Extra_Vacaciones_Diciembre/Pandas/4_Fictional_Army.ipynb
Extra_Vacaciones_Diciembre/Pandas/4_Fictional_Army_SOL.ipynb
Extra_Vacaciones_Diciembre/Pandas/5_Alcohol_Consumption.ipynb
Extra_Vacaciones_Diciembre/Pandas/5_Alcohol_Consumption_SOL.ipynb
Extra_Vacaciones_Diciembre/Pandas/6_Occupation_Grouping.ipynb
Extra_Vacaciones_Diciembre/Pandas/6_Occupation_Grouping_SOL.ipynb
Extra_Vacaciones_Diciembre/Pandas/7_Fictitous_Names.ipynb
Extra_Vacaciones_Diciembre/Pandas/7_Fictitous_Names_SOL.ipynb
Extra_Vacaciones_Diciembre/Pandas/data/army.csv
Extra_Vacaciones_Diciembre/Pandas/data/Euro_2012_stats_TEAM.csv
Extra_Vacaciones_Diciembre/Pandas/data/food_100.csv
Extra_Vacaciones_Diciembre/Python/Rampup_Online_Oct23_T1.ipynb
Extra_Vacaciones_Diciembre/Python/Rampup_Online_Oct23_T1_SOL.ipynb
Extra_Vacaciones_Diciembre/Python/Rampup_Online_Oct23_T2.ipynb
Extra_Vacaciones_Diciembre/Python/Rampup_Online_Oct23_T2_SOL.ipynb
Extra_Vacaciones_Diciembre/Python/Rampup_Online_Oct23_T3.ipynb
Extra_Vacaciones_Diciembre/Python/Rampup_Online_Oct23_T3_SOL.ipynb
Extra_Vacaciones_Diciembre/Python/Rampup_Online_Oct23_T4.ipynb
Extra_Vacaciones_Diciembre/Python/Rampup_Online_Oct23_T4_SOL.ipynb
SPRINT_01/Unidad_01/Ejercicios_workout/01_Ejercicios_Markdown_I_SOL.ipynb
SPRINT_01/Unidad_01/Ejercicios_workout/02_Ejercicios_Markdown_II_SOL.ipynb
SPRINT_01/Unidad_02/Ejercicios_Extra/14_Python_Basisc_Ejercicios_Extra_SOL.ipynb
SPRINT_01/Unidad_02/Ejercicios_workout/09_Ejercicios_Python_Basisc_I_1_SOL.ipynb
SPRINT_01/Unidad_02/Ejercicios_workout/10_Ejercicios_Python_Basisc_I_2_SOL.ipynb
SPRINT_01/Unidad_02/Ejercicios_workout/11_Ejercicios_Python_Basisc_I_3_SOL.ipynb
SPRINT_01/Unidad_02/Ejercicios_workout/12_Ejercicios_Python_Basisc_I_4_SOL.ipynb
SPRINT_01/Unidad_03/Ejercicios_Repaso/Ejercicios_Bucles_if_for_SOL.ipynb
SPRINT_02/Ejercicios_Warmup/00_wup1_Ejercicio_Biblioteca_SOL.ipynb
SPRINT_02/Ejercicios_Warmup/00_wup2_Ejercicio_While_SOL.ipynb
SPRINT_02/Unidad_01/Ejercicios_Extra/14_Ejercicios_Extra_Colecciones_Funciones_SOL.ipynb
SPRINT_02/Unidad_01/Ejercicios_Workout/10_Ejercicio_Python_Basics_II_1_SOL.ipynb
SPRINT_02/Unidad_01/Ejercicios_Workout/11_Ejercicio_Python_Basics_II_2_SOL.ipynb
SPRINT_02/Unidad_01/Ejercicios_Workout/12_Ejercicio_Python_Basics_II_3_SOL.ipynb
SPRINT_03/Unidad_01/Ejercicios_Workout/09_Ejercicios_Vectores_SOL.ipynb
SPRINT_03/Unidad_01/Ejercicios_Workout/10_Ejercicios_Matrices_SOL.ipynb
SPRINT_03/Unidad_01/Ejercicios_Workout/11_Ejercicios_Hello_Numpy_SOL.ipynb
SPRINT_03/Unidad_02/Ejercicios_Workout/10_Ejercicios_Array_SOL.ipynb
SPRINT_03/Unidad_02/Ejercicios_Workout/11_Ejercicios_Manipulaciones_SOL.ipynb
SPRINT_03/Unidad_02/Ejercicios_Workout/12_Ejercicios_Agregaciones_y_otras_funciones_SOL.ipynb
SPRINT_03/Unidad_03/Team_Challenge/22_Team_Challenge__Hundir_la_flota.ipynb
SPRINT_03/Unidad_03/Team_Challenge/img/hundir-la-flota-juego-de-mesa.jpg
SPRINT_04/Ejercicios_SprintReview/22_Fictional_Army_Extra_Filtrado_SOL.ipynb
SPRINT_04/Unidad_01/Ejercicios_Workout/14_Ejercicios_Series_SOL.ipynb
SPRINT_04/Unidad_01/Ejercicios_Workout/15_Ejercicios_DataFrame_SOL.ipynb
SPRINT_04/Unidad_01/Ejercicios_Workout/16_Ejercicios_Seleccion_SOL.ipynb
SPRINT_04/Unidad_02/Ejercicios_Workout/12_Ejercicios_Series_SOL.ipynb
SPRINT_04/Unidad_02/Ejercicios_Workout/13_Ejercicio_Manipulacion_SOL.ipynb
SPRINT_04/Unidad_02/Ejercicios_Workout/14_Ejercicio_Agrupaciones_SOL.ipynb
SPRINT_05/Unidad_01/Ejercicios_Workout/11_Ejercicio_Transformacion_Texto_Fechas_SOL.ipynb
SPRINT_05/Unidad_01/Ejercicios_Workout/12_Ejercicio_Numeros_Missings_SOL.ipynb
SPRINT_05/Unidad_02/Ejercicios_Workout/08_Ejercicio_Formato_Tabular_SOL.ipynb
SPRINT_05/Unidad_02/Ejercicios_Workout/09_Ejercicio_Formato_Flexible_SOL.ipynb
SPRINT_06/Unidad_01/Ejercicios_Workout/12_Ejercicio_Consultas_SQL_SOL.ipynb
SPRINT_06/Unidad_01/Ejercicios_Workout/13_Ejercicio_Joins_Merge_SOL.ipynb
SPRINT_06/Unidad_01/Ejercicios_Workout/14_Ejercicio_Gestion_BDs_SOL.ipynb
SPRINT_06/Unidad_01/Practica_Obligatoria/SQL cheetsheet.pdf
SPRINT_06/Unidad_01/Practica_Obligatoria/SQL for DS.pdf
SPRINT_06/Unidad_01/Practica_Obligatoria/sql-cheat-sheet-2024.pdf
SPRINT_06/Unidad_02/Ejercicios_Workout/10_Ejercicio_Web_Scraping_SOL.ipynb
SPRINT_06/Unidad_02/Ejercicios_Workout/11_Ejercicio_APIs_SOL.ipynb
SPRINT_07/Unidad_01/Ejercicios_Workout/09_Ejercicios_Analisis_Univariante_Introduccion_SOL.ipynb
SPRINT_07/Unidad_01/Ejercicios_Workout/10_Ejercicios_Analisis_Univariante_I_SOL.ipynb
SPRINT_07/Unidad_01/Ejercicios_Workout/11_Ejercicios_Analisis_Univariante_II_SOL.ipynb
SPRINT_07/Unidad_02/Ejercicios_Workout/10_Ejercicios_Analisis_Multivariante_I_SOL.ipynb
SPRINT_07/Unidad_02/Ejercicios_Workout/11_Ejercicios_Analisis_Multivariante_II_SOL.ipynb
SPRINT_07/Unidad_02/Ejercicios_Workout/12_Ejercicios_Analisis_Multivariante_III_SOL.ipynb
SPRINT_08/Unidad_01/Ejercicios_Workout/10_Ejercicios_Basicos_SOL.ipynb
SPRINT_08/Unidad_01/Ejercicios_Workout/11_Ejercicios_Graficas_SOL.ipynb
SPRINT_08/Unidad_01/Ejercicios_Workout/12_Ejercicios_Apoyo_SOL.ipynb
SPRINT_08/Unidad_02/Ejercicios_Workout/10_Ejercicios_Visualizacion_Univariante_SOL.ipynb
SPRINT_08/Unidad_02/Ejercicios_Workout/11_Ejercicios_Visualizacion_Multivariante_SOL.ipynb
SPRINT_09/Unidad_01/Ejercicios_Workout/13_Ejercicios_Inferencial_SOL.ipynb
SPRINT_09/Unidad_01/Ejercicios_Workout/14_Ejercicios_Probabilidad_SOL.ipynb
SPRINT_09/Unidad_02/Ejercicios_Workout/13_Ejercicios_Proceso_Datos_SOL.ipynb
SPRINT_09/Unidad_02/Ejercicios_Workout/14_Ejercicios_Features_SOL.ipynb
SPRINT_09/Unidad_02/Ejercicios_Workout/15_Ejercicios_Modelado_SOL.ipynb
SPRINT_10/Unidad_01/Ejercicios_Workout/13_Ejercicios_Modelado_RL_SOL.ipynb
SPRINT_10/Unidad_01/Ejercicios_Workout/14_Ejercicios_Regularización_SOL.ipynb
SPRINT_10/Unidad_02/Ejercicios_Workout/13_Ejercicios_Practica_RL_Binaria_SOL.ipynb
SPRINT_10/Unidad_02/Ejercicios_Workout/14_Ejercicios_Practica_RL_Multiclase_SOL.ipynb
SPRINT_11/Unidad_01/Ejercicios_Workout/13_Ejercicios_Clasificacion_SOL.ipynb
SPRINT_11/Unidad_01/Ejercicios_Workout/14_Ejercicios_Regresion_SOL.ipynb
SPRINT_11/Unidad_01/Ejercicios_Workout/15_Ejercicios_Hiperparametros_SOL.ipynb
SPRINT_11/Unidad_02/Ejercicios_Workout/13_Ejercicios_Bagging_y_Boosting_SOL.ipynb
SPRINT_11/Unidad_02/Ejercicios_Workout/14_Ejercicios_Comparacion_Modelos_SOL.ipynb
SPRINT_10/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Regresion_Lineal_y_Regularización_SOL.ipynb
SPRINT_10/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Clasificacion_y_Regresion_Logistica_SOL.ipynb
SPRINT_11/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Arboles_de_Decisión_y_Ajuste_de_hiperparámetros_SOL.ipynb
SPRINT_11/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Ensamblado_de_modelos_SOL.ipynb
SPRINT_12/Unidad_01/Ejercicios_Workout/14_Ejercicios_Etapas_Adicionales_SOL.ipynb
SPRINT_12/Unidad_01/Ejercicios_Workout/13_Ejercicios_Otros_Modelos_SOL.ipynb
SPRINT_12/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Otros_Modelos_Supervisados_SOL.ipynb
SPRINT_12/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Repaso_Aprendizaje_Supervisado_SOL.ipynb
SPRINT_12/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Otros_Modelos_Supervisados_SOL.ipynb
SPRINT_12/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Otros_Modelos_Supervisados_SOL.ipynb
SPRINT_12/Unidad_02/Ejercicios_Workout/14_Ejercicios_Repaso_Regresion_SOL.ipynb
SPRINT_12/Unidad_02/Ejercicios_Workout/13_Ejercicios_Repaso_Clasificacion_SOL.ipynb
SPRINT_13/Unidad_02/Ejercicios_Workout/13_Ejercicios_DBSCAN_SOL.ipynb
SPRINT_13/Unidad_02/Ejercicios_Workout/14_Ejercicios_Clustering_Jerárquico_SOL.ipynb
SPRINT_13/Unidad_01/Ejercicios_Workout/13_Ejercicios_K-Means_SOL.ipynb
SPRINT_13/Unidad_01/Practica_Obligatoria/18_Practica_Obligatoria_Clustering_I_SOL.ipynb
SPRINT_13/Unidad_02/Practica_Obligatoria/18_Practica_Obligatoria_Clustering_II_SOL.ipynb
SPRINT_14/Unidad_01/Ejercicios_Workout/13_Ejercicios_Practica_PCA_SOL.ipynb
SPRINT_14/Unidad_02/Ejercicios_Workout/13_Ejercicios_Seleccion_Features_SOL.ipynb
Sprint_15/Unidad_01/Ejercicios_Workout/13_Ejercicios_Series_Temporales_SOL.ipynb
Sprint_15/Unidad_02/Ejercicios_Workout/13_Ejercicios_NLP_SOL.ipynb
Sprint_16/Unidad_01/Ejercicios_Workout/13_Ejercicios_DL_en_Sklearn_SOL.ipynb
Sprint_16/Unidad_02/Ejercicios_Workout/13_Ejercicios_Tutorial_Keras_SOL.ipynb
Sprint_18/Unidad_01/Ejercicios_Workout/13_Ejercicios_Recurrentes_Practica_SOL.ipynb
Sprint_18/Unidad_02/Ejercicios_Workout/13_Ejercicios_Embeddings_SOL.ipynb
